/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
    --primary-color: #ff242e;
    --secondary-color: #ff552d;
    --background-color: #323b3f;
    --background-color-2: #37383c;
    --background-color-3: #464646;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: dm mono, monospace;
}

html{
    font-size: 62.5%;
}

/*
======================
======= INDEX ========
======================
*/

/* === HEADER === */

.page-index header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    z-index: 1000;
}

.page-index .logo{
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 700;
}

header .logo span{
    font-size: 2rem;
    color: var(--primary-color);
}

.page-index .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #fff;
}

.page-index .navbar a:hover{
    color: var(--primary-color);
    transition: 0.1s ease;
}

.page-index header .join-btn{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
}

.page-index header .join-btn:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
    transition: 0.3s ease;
}

/* === MAIN === */

.page-index main section{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: var(--background-color);
    padding: 100px 0;
}

.page-index .content{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 100px;
}

.page-index .content h3{
    font-size: 7rem;
    color: var(--white);
    margin-bottom: 1rem;
}
.page-index #home .content img{
    width: 800px;
    object-fit: cover;
}

.page-index .content p{
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.page-index .content a{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
}

.page-index .content a:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
    transition: 0.3s ease;
}

/* 
======================
======= FORM =========
====================== 
*/

.page-form{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-color);
    align-items: center;
}

.page-form h1{
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 1rem;
    text-align: center;
}

.page-form .form-container{
    background-color: var(--background-color-2);
    padding: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.page-form .form-container label{
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 0.5rem;
}

.page-form .form-container input{
    background-color: var(--background-color-3);
    border: 1px solid var(--primary-color);
    padding: 0.75rem 1rem;
    border-radius: 8px;
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.page-form .form-container .submit-btn{
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.page-form .form-container .submit-btn:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
    transition: 0.3s ease;
}

.page-form .form-container .reset{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    width: 15%;
}

.page-form .form-container #gender{
    background-color: var(--background-color-3);
    border: 1px solid var(--primary-color);
    padding: 0.75rem 1rem;
    border-radius: 8px;
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/*
======================
===== ANIMATION ======
======================
*/

.page-landing main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 0 100px;
}

.page-landing main h1{
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 2rem;
    text-align: center;
}

.page-landing main a{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.page-landing main .confirm:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
    transition: 0.3s ease;
}

.page-landing main .back{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/*
======================
===== ANIMATION ======
======================
*/
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content .text-content h3,
.content .text-content p,
.content .text-content a{
    animation: fadeUp 0.75s ease forwards;
    opacity: 0;
}